.campaign-editor{
	padding-top: 25px;
}

.campaign-editor .btn{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #36657c;
    color: #ffffff;
}

.campaign-editor h5{
    font-weight: bold;
    padding-bottom: 15px;
}

.campaign-editor .confirm-row .section-confirm .row{
    padding: 12px 0px 12px 0px;
}

.campaign-editor .confirm-row .section-confirm .row .col-md-3{
    font-weight: bold;
    color: #43c2c7;
}

.campaign-editor .section-scheduling #datepck{
    width: 35%;
    display: inline-block;
}
.campaign-editor .section-scheduling #clockpck{
    width: 35%;
    display: inline-block;
}
.campaign-editor .section-scheduling #at{
    display: inline-block;
}

.campaign-editor .section-scheduling .calendar1{
    position:absolute;
    top:97px;
    left: 141px;
}

.campaign-editor .section-scheduling .clock1{
    position:absolute;
    top:97px;
    right: 124px;
}

.campaign-editor .section-scheduling .calendar2{
    position:absolute;
    top:105px;
    left: 178px;
}

.campaign-editor .section-scheduling .clock2{
    position:absolute;
    top:51px;
    right: 107px;
}

.campaign-editor .row .col-md-2 span{
    display: block;
    margin-top:10px;
    cursor:pointer;
    font-size:12px;
}

.clockpicker-button{
    color: #333 !important;
}

span.radio-text{
    vertical-align:middle;
    padding-left: 5px;
    padding-right: 10px;
}
input[type=radio]{
    vertical-align:sub;
}

.side-line{
    display: inline-block;
    float:left;
    padding-right:20px;
}

.fa-circle-o{
    padding-top:9px;
}

.side-line .div2{
     margin-left:5px; 
     border-left: 1px solid;
     display:block;
}

.section-audience #input-behaviour{
    width: 75%;
    display: inline-block;
    margin-left: 10px;
}

select#send-type, select#day-type{
	width: 130px;
    display: inline-block;
}

select#day-number-type{
	width: 70px;
    display: inline-block;
}

.schedule-time-block{
	display:inline-block; 
}

.phone-pic{
    background-image: url("../img/Phone.png");
    background-repeat:no-repeat;
    height: 80vh;
    background-position-x:center;
    width: 238px;
    float: right;
}

.phone-text-container{
    padding-top: 53px;
    padding-left: 15px;
    padding-right: 19px;
    color: #ffffff;
}

.phone-text-container .phone-img{
    width: 14%;
    margin-left: 4px;;
    display: inline-block;
    vertical-align: top;
}
.phone-text-container .phone-img img{
    width:80%;
}

.phone-text-container .phone-section2{
    background-color: #2a2a2a;
    border-top: 1px solid #7e7e7e;
    border-bottom: 1px solid #a4a4a4;
    padding-top:5px;

}

.phone-text-container .phone-push{
    display: inline-block;
    width: 81%;
}

.phone-text-container .phone-push .phone-msg{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    height: 5vh;
    overflow-y:hidden;
    overflow-x:hidden;
    
}

.phone-text-container .phone-push .phone-title{
    font-size: 12px;
    font-weight: bold;
    word-wrap:break-word;
}

.new-audience .dropdown-audience{
	display: inline-block;
	width: 135px;
	padding: 3px 3px;
	font-size: 12px;
	
}

.new-audience .audience-sub-dropdown{
	margin-left: 5px;
	display: inline-block;
	width: 115px;
	padding: 3px 3px;
	font-size: 12px;
	vertical-align: middle;
}

.new-audience div{
	padding-top: 10px;
}

.new-audience .fa-plus-square{
	margin-left: 5px;
	font-size: 1.5em;
	vertical-align: middle;
}

.new-audience .fa-trash-o{
	margin-left: 5px;
	font-size: 1.5em;
	padding-top: 5px;
}

.ms-choice{
	border: none !important;
}

button[disabled]{
	background-color: #eee;
	cursor: not-allowed;
}

.ms-drop ul li label span{
	vertical-align: -webkit-baseline-middle;
}

.ms-drop ul li.ms-select-all label input{
	vertical-align: sub !important;
}

.tooltipee {
	position:absolute;
	border:1px solid #e1e1e1;
	background-color:#e6ffe6;
	border-radius:5px;
	padding:10px;
	color:#000000;
	font-size:12px Arial;
}

.ms-choice > span{
	top: 3px;
}