<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Time Track App</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px;     
 }

	</style>
</head>
<body>    <div class="col-md-12 col-xs-12 col-sm-12">
<div class="container">


	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Welcome to TimeTrack Pro</h1>
		<br>
		<p>Login or Register with us:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

				<a href="/demo" class="btn btn-default"> Wine ?</a>
				<a href="/landing" class="btn btn-default"> Homeland ? </a>

	</div>
<marquee><h3> Plan and track your daily tasks, organise yourself to be more efficient. </h3></marquee>

<p align="center">&copy; 2014-2017 Mango Inc.<p></div>
</div>
</body>
</html>