
.section-carousel .row {
	text-align: center;
}

.section-carousel .carousel {
	left: 50%;
	position: absolute;
	width: 1000px;
	margin-left: -500px;
	overflow: hidden;
	height: 500px;
	top: 50px;
}

.section-carousel .carousel .item {
	width: 350px;
	height: 250px;
	background: url('http://placehold.it/350x250') top left no-repeat;
	background-size: 100%;
	vertical-align: middle;
	line-height: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.section-carousel .controls {
	position: absolute;
	top: 265px;
	width: 150px;
	z-index: 30;
}

.section-carousel .controls a {
	display: block;
}

.section-carousel .controls .previous {
	float: left;
}

.section-carousel .controls .next {
	float: right;
}

.photos{padding:20px 50px 20px 50px; height: 280px}

.hidden {
   visibility: hidden;
} 

.mobile-select {height:50px;padding-top:15px;padding-left:60px;padding-right:20px}

#dateRange{margin-top:-5px}

.device-menu{padding:8px !important; border:1px solid #CCC; border-radius: 1px; width:120px;margin-right: 20px}
.device-menu { }
.device-menu {list-style-type: none; display:inline}
.device-menu .selected{font-weight: 700}
.device-menu .grey-pipe{font-weight: 700;padding: 4px}
.device-menu .checked{background-color: #efefef;padding:3px;border: 1px solid #ccc;border-radius:3px}


.sub-menu-menu { padding-left: 5px; }
.sub-menu-menu a {margin-right: 15px}
.sub-menu-menu .fa-chevron-right{font-size: 12px;margin-right:5px}



.info-container { padding-top:20px; padding-left: 0; width: 100%; display: inline-block;}
.info-container li {    border-right: 1px solid #dadada;}
.info-container li:last-child(){border-right: :0px}

.info {text-align: center}
.info h3{font-size:16px;text-transform: uppercase;height:40px}
.info p{font-size: 26px;font-weight: bold}


.user-info-tbl {text-align: center;border: 0px ;text-transform: uppercase}
.user-info-tbl th, .user-info-tbl td{border-right:1px solid #ddd ; border-top:0px !important; border-bottom:0px !important}
.user-info-tbl th {text-align: center;}
.user-info-tbl th:last-child, .user-info-tbl td:last-child{border-right:0px solid #ddd ;}


.carousel-info{position:absolute;margin-top:-20px;color:#333;font-size:12px}



